<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="NodarbibuSarakstsContainer" connectionString="metadata=res://*/NodarbibuSaraksts.csdl|res://*/NodarbibuSaraksts.ssdl|res://*/NodarbibuSaraksts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\Artis.Teilans\Documents\NodarbibuSarakstsPR4.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>